h1 {
  color: var(--title);
  margin: 0 0 50px;
  font-family: var(--poppins);
  font-weight: var(--medium);
}


@media only screen and (min-width: 768px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .grid-1-2 {
    column-gap: 80px;
  }
}